.idea
.DS_store
__pycache__
.python_history
.pyc
data

*__pycache__
*.pyc
.csv

*.log
*.xlsx
*.pdf
*.json
*.lock
*.DS_Store
*.sqlite3

.env
.htaccess
.pre-commit-config.yaml

.idea/*
media/*
venv/*
!/deploy/sql
!/docker-compose.yml
#00*.py
#prod.py
