version: "3.9"
   
services:
  db:
    image: postgres
    container_name: bmat_bo_db
    volumes:
      - ./data/db:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
  api:
    container_name: bmat_bo_api
    build: .
    command: start.sh
    volumes:
      - ./app:/code
    ports:
      - "8000:8000"
    depends_on:
      - db

  api-docs:
    image: swaggerapi/swagger-ui
    container_name: bmat_bo_api_docs
    ports:
      - "8001:8080"
    volumes:
      - ./openapi.yml:/openapi.yml
    environment:
      SWAGGER_JSON: /openapi.yml
